@import "{}/client/theme/_main";

.baz.navbar {
  display: flex;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  padding: 0 16px;
  background: $navbar-background;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 1px 1px 0 rgba(140,140,140,.15);

  .item {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 100%;
    margin-left: 8px;
    font-size: 1.1em;
    font-weight: bold;

    &:first-child {
      margin-left: 0;
    }

    &.active {
      color: #5d43b4;

      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background: #5d43b4;
        position: absolute;
        bottom: -1px;
        left: 0;
      }
    }

    &.clickable {
      cursor: pointer;
    }
  }

  /* Left and Right */

  .right {

  }
}
